<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
          Invalid email format
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter your name" />
        <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        Sign Up
      </button>
      <p style="color: red">{{ responseMsg }}</p>
      <span>Already have an account?</span>

      <button mat-button color="primary">
        <a href="/signin">Sign In</a>
      </button>
      <!-- remove anchor a tag later, to avoid page reload -->
    </mat-card-actions>
  </mat-card>
</form>
